<h3>Hooks</h3>

<%= link_to 'Add Hook', new_webhook_path, class: 'btn btn-default' %>

<table class="table" style="margin-top: 20px;">
  <tr>
    <th>Name</th>
    <th>Hook For GitLab</th>
    <th></th>
  </tr>
  <% @webhooks.each do |webhook| %>
  <tr>
    <td>
      <%= link_to webhook.name, webhook %>
    </td>
    <td>
      <%= gitlab_hook_url(webhook.hook_id) %>

      <a href="javascript: void(0);" class="copy-btn" data-clipboard-text="<%= gitlab_hook_url(webhook.hook_id) %>">Copy it</a>
    </td>
    <td>
      <%= link_to test_webhook_path(webhook), class: 'btn btn-default', remote: true do %>
          <i class="fa fa-slack"></i>
          Test Slack Hook
      <% end %>
      <%= link_to edit_webhook_path(webhook), class: 'btn btn-default' do %>
          <i class="fa fa-pencil"></i>
          Edit
      <% end %>
      <%= link_to 'Destory', webhook, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
</table>
